body{
    background-color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
    }
    :root {
        --color-primary: #12151f;
        --color-secondary: #A38FFF;
        --color-white: #FFFFFF;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #454e56;
        --color-grey-5: #2a2e35;
        --color-grey-6: #101517;
        --br-sm-2: 14px;
        --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
      }
    
    .Main-Class-Container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        min-height: 100vh;
    }
    .Main-Class-Container .Main-Class-left{
        display: flex;
        align-items: center;
        position: relative;
    }
    .Main-Class-left{
        
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .Main-Class-Container .Main-Class-left .h-shape{
        transition: all 0.4s ease-in-out;
        width: 65%;
        height: 100%;
        background-color: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
    .Main-Class-Container .Main-Class-left .image{
        border-radius: var(--br-sm-2);
        height: 50%;
        width: 50%;
        margin-left: 4rem;
        z-index: 2;
    }
    .Main-Class-Container .Main-Class-left .image img{
        width: 100%;
        border-radius: 28px;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
    }
    
    .Main-Class-Container .Main-Class-right{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
    }
    .Main-Class-Container .name{
        font-size: 3rem;
        margin: 0;
    }
    .Main-Class-Container .name span{
        color: var(--color-secondary);
    }
    .Main-Class-Container p{
        margin: 1.5rem 0;
        line-height: 2rem;
    }
    .btn{
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .Main-Class-Container .btn{
        width:150px;
    }
    .btn-green{
        background: #A38FFF;
        margin-bottom: 7px;
        margin-left: 3px;
    }
    .controls{
        
        position: fixed;
        z-index: 10;
        top: 50%;
        right: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
    }
    .controls .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem 0;
        color: white;
        box-shadow: var(--box-shadow-1);
    
    }
     /* .control:{
        background-color: var(--color-secondary);
    } */

    .controls .control.active {
        /* Add styles for active controls here */
        background-color: var(--color-secondary);
        color: white;
    }
    

    /* App */

    .Main-title{
        background-color: var(--color-primary);
        padding: 3rem 17rem;
    }
    .Main-title-header{
        align-items: center;
    }
    .Main-title-header h2{
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        /* margin: 0px; */
    }
    .Main-title-header h2 span{
        color: #A38FFF;
    }
   
    .about-container{
        /* padding-top: 3.5rem; */
        padding: bottom 5rem; ;
    }
    .Skill{
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        padding-top: 3.5rem;
        position: relative;
    }
    .Skill::before{
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
    }
    .Skill-Name{
        background-color: var(--color-secondary);
        margin-bottom: 7px;
        margin-left:3px;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 3px;
    }
    
    .Skill-Name p{
        /* padding: 30px; */
    }
    a{
        display: inline-block;
    }
    .Skill-Name-Main{
        display:flex;
        justify-content: center;
        gap: 10px;
    }
    .Contact-details-Main .Contact-details{
        text-align: center;
        padding-top: 3.5rem;
        /* display: flex; */
        align-items: center;
        font-size: large;

    }
    .Contact-in h4{
        font-size: 1.7rem;
        font-weight: 400;
        margin: 2px;
    }
    .Contact-details-Main{
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    .Contact-in{
        display: flex;
        align-items: center;
        gap: 0;
        font-size: 20px;
        justify-content: center;
    }
    .Contact-icon-main{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap:10px;
    }

    .Contact-icon{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem 0;
        color: white;
        box-shadow: var(--box-shadow-1);
    }
    .Contact-icon:hover{
        background-color: var(--color-secondary);
        color:black;
    }
   

    .Portfolios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
    }
    .Portfolios .Portfolio-item{
        position: relative;
        border-radius: 15px;
        width: 100%;
        height: 250px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 15px;
    }
    .Portfolios .Portfolio-item .item{
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .Portfolios .Portfolio-item .item h3{
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        font-weight: 700;
        padding-right: 5px;
        margin-top: 0;
    }
    .Portfolios .Portfolio-item .item p{
        font-size: 1rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        margin-top: 0;
    }
        
    @media (max-width: 600px) {
        .Main-Class-Container{
            grid-template-columns: repeat(1,1fr);
            min-height:100vh;
        }
        .Main-Class-Container .name { 
            font-size:2rem !important; 
            text-align: center !important;
            padding-top:1rem !important;
            margin-top:1rem !important;

        }
        .about-container p{
            line-height: 1.2;

        }
        .Main-Class-Container p{
            line-height: 1.5rem;
            margin:1.5rem 0;
        }
        .Main-Class-left .h-shape{
            display: none;

        }
        .Main-title-header h2{
            font-size: 2rem;
            font-weight: bolder;
            text-align: center;
            padding-top: 1rem;
            margin-top: 1rem;
        }
        .Main-Class-Container .Main-Class-left{
            width: 100%;
            position: relative;
            align-items: center;
            display:block;
        }
        .Main-Class-Container .Main-Class-left .image {
            width: 80%; 
            height: 60%;
            margin-left: 3rem; 
        }

        .Main-Class-Container .Main-Class-right {
            /* width:40%; */
            padding-right: 12rem;
        }
        .Main-Class-right{
            grid-row:1;
            padding-right: 0rem !important;
            width:90%;
            margin:0 auto;
        }

        .Main-title{
            padding: 2rem 3rem !important;
        }
        .Portfolios{
            grid-template-columns: repeat(1,1fr) !important;
        }
        .Contact-in h4{
            font-size:1.3rem;
        }
        .controls{
            top: auto;
            bottom: 0;
            flex-direction: row;
            justify-content: center;
            left: 50%;
            column-gap: 10px;
            transform: translateX(-50%);
            width: 100%;
            background-color: var(--color-grey-5);        }
    }

    @media (max-width: 768px) {
        .Main-Class-Container {
            grid-template-columns: 1fr; /* Stack columns on smaller screens */
            padding: 0 1rem; /* Add some padding on the sides */
        }
    
        .Main-Class-Container .Main-Class-left {
            /* display: none; Hide the left section on smaller screens */
        }
    
        .Main-Class-Container .Main-Class-right {
            padding: 2rem; /* Add padding to the right section */
        }
    }
    
    @media (max-width: 970px) {
        .Main-Class-Container{
            grid-template-columns: repeat(1,1fr);
            min-height:100vh;
        }
        .Main-Class-Container .name{
            font-size:2.5rem;
            text-align: center;
            padding-top:3rem;
            margin-top:2rem;

        }
        .Main-Class-Container p{
            line-height: 1.5rem;
            margin:1.5rem 0;
        }
        .Main-Class-left .h-shape{
            display: none;

        }
        .Main-Class-Container .Main-Class-left{
            width: 100%;
            position: relative;
            align-items: center;
        }
        .Main-Class-Container .Main-Class-left .image {
            width: 80%; 
            height: 60%;
            /* margin-left: 1rem;  */
        }

        .Main-Class-Container .Main-Class-right {
            /* width:40%; */
            padding-right: 12rem;
        }
        .Main-Class-right{
            grid-row:1;
            padding-right: 0rem !important;
            width:90%;
            margin:0 auto;
        }

        .Main-title{
            padding: 7rem 6rem;
        }
        
    }
    @media  screen and (max-width:1250px) {
        .Portfolios{
            grid-template-columns: repeat(2,1fr);
        }
        
    }